body {
    text-align: center;
    background-color: bisque;
}

#nav-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
#video {
    padding-top: 30px;
}

#header-img {
    height: 30px;
}

@media screen and (min-width: 700px) {
    body {
        background-color: aqua;
    }
}